body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-img {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.custom-navh {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 1.5rem 5rem;
    z-index: 5;
    position: relative;
    
}

.custom-insta-logo, .custom-facebook-logo, .custom-twitter-logo, .custom-linkedin-logo {
    background-color: #89EA5F;
    padding: 0.2rem;
    border-radius: 0.3rem;
    margin-right: 0.5rem;
    font-size: 1.5rem;
}

.custom-email-logo {
    color: #89EA5F;
    margin-left: 0.5rem;
    font-size: 1.5rem;
}

.custom-phone-logo {
    color: #89EA5F;
    margin: 0rem 0.5rem;
    font-size: 1.5rem;
}

.custom-logos-nav {
    display: flex;
    justify-content: space-between;
}

.custom-contact-nav {
    display: flex;
    align-items: center;
    color: black;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.custom-navbar {
    padding: 1rem 0rem;
    display: flex;
    background-color: white;
    color: black;
    border-radius: 1rem;
    justify-content: space-around;
}

.custom-links {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.custom-nav-links {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}

.custom-simple-links:hover {
    color: #89EA5F;
}

.custom-logo-nav {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
}

.custom-contactus-nav {
    font-size: 1rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
    background-color: #89EA5F;
}

.custom-contactus-nav:hover {
    background-color: black;
    color: white;
}

.custom-cart-nav {
    display: flex;
    padding: 0.8rem;
    border-radius: 3rem;
    font-size: 2rem;
    background-color: #89EA5F;
}

.custom-hamburger {
    display: none;
    cursor: pointer;
    background-color: #89EA5F;
    border-radius: 0.2rem;
    padding: 1rem;
}

.custom-menu-items {
    display: flex;
}

.custom-menu-items li {
    display: inline-block;
}

.custom-main-heading{
    margin: 1rem 0rem;
    font-family: sans-serif;
    font-size: 3rem;
    font-weight: 600;
    color: white;
}

.custom-sub-heading{
    font-family: sans-serif;
    font-size: 1.5rem;
    color: white;
}

.custom-social-icons{
    display: flex;
}

.custom-contact{
    display: flex;
    color: white;
}

@media screen and (max-width: 1000px) {
    .custom-navbar {
        padding: 1rem 0rem;
    }
    .custom-simple-links, .custom-contact-nav {
        font-size: 0.8rem;
    }
    .custom-links {
        margin-right: 0rem;
    }
    .custom-contactus-nav {
        font-size: 0.8rem;
        padding: 1rem;
        border-radius: 2rem;
    }
    .custom-cart-nav {
        padding: 0.7rem;
        border-radius: 2rem;
        font-size: 1rem;
    }
    .custom-logo-nav {
        font-size: 1rem;
    }
    .custom-insta-logo, .custom-facebook-logo, .custom-linkedin-logo, .custom-twitter-logo, .custom-email-logo, .custom-phone-logo {
        font-size: 1rem;
    }
}

@media screen and (max-width: 800px) {
    .custom-contact-nav {
        display: none;
    }
    .custom-logo-green {
        height: 2rem;
    }
    .custom-company-name {
        margin: 0;
    }
    .custom-links {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100vh;
        background: rgba(219, 214, 214, 0.9);
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 10;
        transition: left 0.3s ease;
    }
    .custom-links.custom-active {
        left: 0;
    }
    .custom-nav-links {
        font-size: 1.5rem;
        margin: 0;
    }
    .custom-hamburger {
        display: block;
        z-index: 15;
    }
    .custom-navbar {
        justify-content: space-around;
        width: 100%;
    }
}
